body {
  background-color: #ddd;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  color: #888;
}

h1 {
  text-align:center;
  font-size: 20pt;
}

.whole-width {
  width: 317px; /* 7 * left element margin + 6 * element width + 12 * element border */
  margin-left: auto;
  margin-right: auto;
}

.element, .surge-element, #pin {
  width: 45px;
  height: 45px;
  border: 1px solid #555;
  border-radius: 8px;
  float: left;
  text-align: center;
  line-height: 45px; /* == height to center line vertically */
}

#dice-source, #probabilities {
  margin-top: 5px;
}

#dice-source {
  height: 52px; /* 1 * top die margin + die height + 2 * die border */
}

#target {
  height: 213px; /* 5 * top die margin + 4 * die height + 8 * die border */
  text-align: center;
  line-height: 213px; /* == height to vertically center text */
  float: left;
  width: 213px; /* 5 * die left margin + 4 * die-width + 8 * die border */
  /* border: 1px solid #555; */
  border-radius: 5px;
  background-color: #eee;
}

#attack-modifiers, #defense-modifiers {
  float: left;
  width: 52px; /* == 1 * left die margin + die width + 2 * die border */
}

#attack-modifiers {
    height: 213px; /* 5 * top die margin + 4 * die height + 8 * die border */
}

#defense-modifiers {
  height: 109px; /* == 3 * top modifier margin + 2 * modifier height + 4 * modifier border */
}

/* Modifiers */
.modifier {
  background-color: #fff;
  text-align: center;
  line-height: 45px;
}

.defense-modifier, #pin {
  margin: 5px 0 0 0;
}

.attack-modifier, .center-modifier, .die, .surge-modifier {
  margin: 5px 0 0 5px;
}

/* Surge */
.surge-source {
  height: 57px; /* 2 * top modifier margin + modifier height + 2 * modifier border */
  width: 265px; /* 6 * modifier left margin + 5 modifier width + 10 * modifier border [-10, why?!] */
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #fff;
}

#surge-label, .surge-count, .surge-source {
  float:left;
  text-align: right;
}

#surge-label, .surge-count {
 height: 57px; /* 2 * modifier top margin + 1 * modifier height + 2 * modifier border */
 line-height: 57px; /* == height to center line vertically */
 font-weight: bold;
}

#surge-label {
  width: 30px;
}

.surge-count {
  /* 28= (surge source width - (4 * modifier left margin + 3 modifier width + 6 * modifier border + surge label width)) / 3 */
  width: 25px;
  text-align: right;
}

.surge-element {
  background-color: white;
}

#compiled-surge-template {
  display:none;
}

.compiled-surge-item {
  width: 22px;
  height: 22px;
  float: left;
  line-height: 22px;
}

.compiled-surge {
  background-color: white;
}

.compiled-surge-label {
  font-weight: bold;
}

/* Pin */
#pin {
  background-color: #fdae6b;
}

/* Dice */
.red-die {
  background-color: #d62728;
}

.green-die {
  background-color: #2ca02c;
}

.blue-die {
  background-color: #1f77b4;
}

.yellow-die {
  background-color: #fff655;
}

.black-die {
  background-color: black;
}

.white-die {
  background-color: white;
}

/* probabilities */
#probabilities {
  height: 60px; /* 3 * top die margin + 2 * die height + 4 * die border */
  text-align: center;
  clear: both;
}

#probabilities div {
  margin: 10px;
}

/* Ranged */
#ranged {
  float: left;
  height: 104px; /* == dice target height - defense modifiers height */
  width: 52px; /* == defense modifier width */
}

.ranged-button {
  width: 45px; /* == modifier width */
  height: 30px;
  border: 1px solid #555;
  text-align: center;
  line-height: 30px; /* == height for vertical text center */
  font-weight: bold;
  background-color: #fdae6b;
  float: left;
  border-radius: 8px;
}

#ranged-plus {
  margin-top:3px;
}

#ranged-minus {
  margin-bottom:3px;
}

#ranged-value {
  width: 45px; /* == modifier width */
  height: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 24px; /* == height for vertical text center */
  margin: 5px 0 5px 0;
  float: left;
  font-size:120%;
}

